<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ryan.business.mapper.UserMapper">


    <select id="queryAllData" resultType="com.ryan.business.entity.user.User">
        select * from user
    </select>
    
    <!-- 模拟慢SQL查询，每次查询延迟0.5秒 -->
    <select id="getUserDetail" resultType="com.ryan.business.entity.user.User">
        select 
            id,
            username as name,
            email,
            age,
            status,
            create_time as createTime,
            update_time as updateTime,
            sleep(0.5) as dummy  -- 模拟慢SQL，延迟0.5秒
        from user 
        where id = #{id}
    </select>
    <select id="listAllDataPage" resultType="com.ryan.business.entity.user.User">
        select * from user limit #{size}
    </select>
    
    <update id="updateAge">
        UPDATE user SET age = #{age}, update_time = NOW() WHERE id = #{id}
    </update>
</mapper>

